page-view-active-job {
    img{
        border-radius:50%;
        height:11rem;
        width:12rem;
    }

    ion-icon {
        display: inline-block;
        font-size: 2.5em;
        padding-right: 7px;
    }
}
