<ion-header>
    <ion-navbar>
        <ion-buttons left>
          <button ion-button icon-only (click)="do()">
          <ion-icon name="ios-menu-outline" style="color:white;padding: 5px;"></ion-icon>
        </button>
          </ion-buttons>
     <ion-title><div align="center"><p style="color:white;margin-left:-15px">My Postings</p></div></ion-title>
    </ion-navbar>
    <ion-segment [(ngModel)]="postings">
        <ion-segment-button style="color:#84527c" value="all">
          All
        </ion-segment-button>
        <ion-segment-button style="color:#84527c" value="progress">
          In-Progress
        </ion-segment-button>
      </ion-segment>
  </ion-header>


<ion-content no-bounce class="home-background">

    <div [ngSwitch]="postings">
        <ion-list *ngSwitchCase="'all'">

            <div align="center" *ngIf="job_value === '1'">
                <img src="imgs/no-posts.png" style="width:50%"/>
              </div>


            <ion-item *ngFor="let post of posts, let i = index" (click)="view_job(post.id)">
                <ion-grid>
                  <ion-row>
                    <ion-col col-10>
                       <b>{{i+1}}</b>). {{post.jd}}
                    </ion-col>
                    <ion-col col-2>
                      £{{post.budget}}
                      </ion-col>
                  </ion-row>
                </ion-grid>
                <h3>Job Type: &nbsp;{{post.title}}</h3>
                <p>{{post.date}} {{post.month}}</p>
                <p *ngIf="post.progress === 1 || post.progress === '1'" style="color:green"><b>Status:</b>&nbsp;Open</p>
                <p align="right" style="color:green;margin-top:-20px">View Proposals</p>
              </ion-item>
        </ion-list>

        <ion-list *ngSwitchCase="'progress'">

          
            <div align="center" *ngIf="progress_value === '1'">
                <img src="imgs/no-posts.png" style="width:50%"/>
              </div>


            <ion-item *ngFor="let cost of coasts" (click)="check_status(cost.id)">
                <ion-grid>
                  <ion-row>
                    <ion-col col-10>
                        {{cost.jd}}
                    </ion-col>
                    <ion-col col-2>
                      ${{cost.budget}}
                      </ion-col>
                  </ion-row>
                </ion-grid>
                <h3>Job Type: &nbsp;{{cost.title}}</h3>
                <p>{{cost.date}} {{cost.month}}</p>
                <p *ngIf="cost.progress === 2 || cost.progress === '2'" style="color:red"><b>Status:</b>&nbsp;In-progress</p>
                <p align="right" style="color:red;margin-top:-20px">View Job Details</p>
              </ion-item>
          </ion-list>
        </div>
        
</ion-content>
