<ion-content class="home-background">
<div align="left" style="margin-top: -9px;">
    <ion-icon name="arrow-back" style="color:white;padding: 15px; margin-top:3%;" (click)="back()"></ion-icon>
</div>

<div align="center" style="margin-top: -31px;">
    <p style="margin-top: -6%; text-align: center;color: white">My Favourites</p>
</div>

<div align="right" style="margin-top: -36px;padding-bottom: 5px;padding-right: 7px;">
    <ion-icon ios="ios-add" md="md-add" style="color:white;padding: 5px;" (click)="fav()"></ion-icon>
</div>




 
    <ion-grid *ngFor="let post of expenses">
    
      <ion-row class="ilist">
        <ion-col col-4 *ngIf="post.category === 'laundry' || post.category === laundry">
        <ion-card style="border-radius:12px 12px;background-color:#418bb8;width:90%" (click)="laundry(post.category)">
        <img  style="width:50%;margin-left: 24%; margin-top: 7px;" src="imgs/ic_laundry.png">
        <p style="color:white;text-align: center;margin: 5px 6px 15px;
        font-size: 1.0rem;">My laundry</p>
      </ion-card>
      </ion-col>

          <ion-col  col-4 *ngIf="post.category === 'fitness' || post.category === fitness">
            <ion-card style="border-radius:12px 12px;background-color:#418bb8;width:90%" (click)="laundry(post.category)">
                <img style="width:50%;margin-left: 24%; margin-top: 7px;" src="imgs/ic_gym.png">
                <p style="color:white;text-align: center;margin: 5px 6px 15px;
                font-size: 1.0rem;">My Fitness</p>
              </ion-card>
        </ion-col>

          <ion-col  col-4 *ngIf="post.category === 'sales' || post.category === sales">
            <ion-card style="border-radius:12px 12px;background-color:#418bb8;width:90%" (click)="laundry(post.category)">
                <img style="width:34%;margin-left: 30%; margin-top: 7px;" src="imgs/ic_sales.png">
                <p style="color:white;text-align: center;margin: 5px 6px 15px;
                font-size: 1.0rem;">My Sales Executive</p>
              </ion-card>
        </ion-col>

        <ion-col col-4 *ngIf="post.category === 'car' || post.category === car">
            <ion-card style="border-radius:12px 12px;background-color:#418bb8;width:90%" (click)="laundry(post.category)">
            <img  style="width:50%;margin-left: 24%; margin-top: 7px;" src="imgs/ic_car.png">
            <p style="color:white;text-align: center;margin: 5px 6px 15px;
            font-size: 1.0rem;">My Car</p>
          </ion-card>
          </ion-col>


          <ion-col  col-4 *ngIf="post.category === 'lawyer' || post.category === lawyer">
              <ion-card style="border-radius:12px 12px;background-color:#418bb8;width:90%" (click)="laundry(post.category)">
                  <img style="width:50%;margin-left: 24%; margin-top: 7px;" src="imgs/ic_lawyer.png">
                  <p style="color:white;text-align: center;margin: 5px 6px 15px;
                  font-size: 1.0rem;">My Lawyer</p>
                </ion-card>
          </ion-col>


           <ion-col  col-4 *ngIf="post.category === 'beauty' || post.category === beauty">
              <ion-card style="border-radius:12px 12px;background-color:#418bb8;width:90%" (click)="laundry(post.category)">
                  <img style="width:34%;margin-left: 30%; margin-top: 7px;" src="imgs/ic_beauty.png">
                  <p style="color:white;text-align: center;margin: 5px 6px 15px;
                  font-size: 1.0rem;">My Beauty Consultant</p>
                </ion-card>
          </ion-col>
 
            <ion-col  col-4 *ngIf="post.category === 'cleaner' || post.category === cleaner">
            <ion-card style="border-radius:12px 12px;background-color:#418bb8;width:90%" (click)="laundry(post.category)">
            <img style="width:50%;margin-left: 24%; margin-top: 7px;" src="imgs/ic_cleaner.png">
            <p style="color:white;text-align: center;margin: 5px 6px 15px;
            font-size: 1.0rem;">My Cleaner</p>
          </ion-card>
          </ion-col>

             <ion-col  col-4 *ngIf="post.category === 'teacher' || post.category === teacher">
                <ion-card style="border-radius:12px 12px;background-color:#418bb8;width:90%" (click)="laundry(post.category)">
                    <img style="width:50%;margin-left: 24%; margin-top: 7px;" src="imgs/ic_teacher.png">
                    <p style="color:white;text-align: center;margin: 5px 6px 15px;
                    font-size: 1.0rem;">My Teacher</p>
                  </ion-card>
            </ion-col>

             <ion-col  col-4 *ngIf="post.category === ''">
                <!-- <ion-card style="border-radius:12px 12px;background-color:#3f197c;width:90%" (click)="not()">
                    <img style="width:50%;margin-left: 24%; margin-top: 7px;" src="imgs/ic_pro.png">
                    <p style="color:white;text-align: center;margin: 5px 6px 15px;
                    font-size: 1.0rem;">My P.R.O</p> 
                  </ion-card> -->
            </ion-col>
 
              <ion-col  col-4 *ngIf="post.category === 'home' || post.category === home">
                  <ion-card style="border-radius:12px 12px;background-color:#418bb8;width:90%" (click)="laundry(post.category)">
                      <img style="width:40%;margin-left: 30%; margin-top: 7px;" src="imgs/ic_house.png">
                      <p style="color:white;text-align: center;margin: 5px 6px 15px;
                      font-size: 1.0rem;">My Home Services</p>
                    </ion-card>
            </ion-col>

               <ion-col  col-4 *ngIf="post.category === 'nanny' || post.category === nanny">
                  <ion-card style="border-radius:12px 12px;background-color:#418bb8;width:90%" (click)="laundry(post.category)" >
                      <img style="width:50%;margin-left: 24%; margin-top: 7px;" src="imgs/ic_nanny.png">
                      <p style="color:white;text-align: center;margin: 5px 6px 15px;
                      font-size: 1.0rem;">My Nanny</p>
                    </ion-card>
              </ion-col>

               <ion-col  col-4 *ngIf="post.category === 'fashionista' || post.category === fashionista">
                  <ion-card style="border-radius:12px 12px;background-color:#418bb8;width:90%" (click)="laundry(post.category)">
                      <img style="width:50%;margin-left: 24%; margin-top: 7px;" src="imgs/ic_fashion.png">
                      <p style="color:white;text-align: center;margin: 5px 6px 15px;
                      font-size: 1.0rem;">My Fashionista</p>
                    </ion-card>
              </ion-col>
   
                <ion-col  col-4 *ngIf="post.category === 'office' || post.category === office">
                    <ion-card style="border-radius:12px 12px;background-color:#418bb8;width:90%" (click)="laundry(post.category)">
                        <img style="width:40%;margin-left: 30%; margin-top: 7px;" src="imgs/ic_office.png">
                        <p style="color:white;text-align: center;margin: 5px 6px 15px;
                        font-size: 1.0rem;">My Office Services</p>
                      </ion-card>
              </ion-col>

                 <ion-col  col-4 *ngIf="post.category === 'carlift' || post.category === carlift">
                    <ion-card style="border-radius:12px 12px;background-color:#418bb8;width:90%" (click)="laundry(post.category)">
                        <img style="width:50%;margin-left: 24%; margin-top: 7px;" src="imgs/ic_lift.png">
                        <p style="color:white;text-align: center;margin: 5px 6px 15px;
                        font-size: 1.0rem;">My Car Lift</p>
                      </ion-card>
                </ion-col>

                <ion-col  col-4 *ngIf="post.category === 'shopper' || post.category === shopper">
                    <ion-card style="border-radius:12px 12px;background-color:#418bb8;width:90%" (click)="laundry(post.category)">
                        <img style="width:50%;margin-left: 24%; margin-top: 7px;" src="imgs/ic_shop.png">
                        <p style="color:white;text-align: center;margin: 5px 6px 15px;
                        font-size: 1.0rem;">My Shopper</p>
                      </ion-card>
                </ion-col>
     
                  <ion-col  col-4 *ngIf="post.category === 'architect' || post.category === architect">
                  <ion-card style="border-radius:12px 12px;background-color:#418bb8;width:90%" (click)="laundry(post.category)">
                  <img style="width:50%;margin-left: 24%; margin-top: 7px;" src="imgs/ic_architect.png">
                  <p style="color:white;text-align: center;margin: 5px 6px 15px;
                  font-size: 1.0rem;">My Architect</p>
                </ion-card>
                </ion-col>

                   <ion-col  col-4 *ngIf="post.category === 'chef' || post.category === chef">
                      <ion-card style="border-radius:12px 12px;background-color:#418bb8;width:90%" (click)="laundry(post.category)">
                          <img style="width:50%;margin-left: 24%; margin-top: 7px;" src="imgs/ic_chef.png">
                          <p style="color:white;text-align: center;margin: 5px 6px 15px;
                          font-size: 1.0rem;">My Chef</p>
                        </ion-card>
                  </ion-col>

                  <ion-col  col-4 *ngIf="post.category === 'pet' || post.category === pet">
                      <ion-card style="border-radius:12px 12px;background-color:#418bb8;width:90%0" (click)="laundry(post.category)">
                          <img style="width:50%;margin-left: 24%; margin-top: 7px;" src="imgs/ic_cat.png">
                          <p style="color:white;text-align: center;margin: 5px 6px 15px;
                          font-size: 1.0rem;">My Pet</p>
                        </ion-card>
                  </ion-col>
            
                    <ion-col  col-4 *ngIf="post.category === 'graphic' || post.category === graphic">
                        <ion-card style="border-radius:12px 12px;background-color:#418bb8;width:90%" (click)="laundry(post.category)">
                            <img style="width:40%;margin-left: 30%; margin-top: 7px;" src="imgs/ic_designer.png">
                            <p style="color:white;text-align: center;margin: 5px 6px 15px;
                            font-size: 1.0rem;">My Graphic Designer</p>
                          </ion-card>
                  </ion-col>

                    <ion-col col-4  *ngIf="post.category === 'hobby' || post.category === hobby">
                        <ion-card style="border-radius:12px 12px;background-color:#418bb8;width:90%" (click)="laundry(post.category)">
                            <img style="width:50%;margin-left: 24%; margin-top: 7px;" src="imgs/ic_hobby.png">
                            <p style="color:white;text-align: center;margin: 5px 6px 15px;
                            font-size: 1.0rem;">My Hobby</p>
                          </ion-card>
                    </ion-col>

                     <ion-col  col-4 *ngIf="post.category === 'dj' || post.category === dj">
                        <ion-card style="border-radius:12px 12px;background-color:#418bb8;width:90%" (click)="laundry(post.category)">
                            <img style="width:50%;margin-left: 24%; margin-top: 7px;" src="imgs/ic_dj.png">
                            <p style="color:white;text-align: center;margin: 5px 6px 15px;
                            font-size: 1.0rem;">My DJ</p>
                          </ion-card>
                    </ion-col>
              
                      <ion-col  col-4 *ngIf="post.category === 'it' || post.category === it">
                          <ion-card style="border-radius:12px 12px;background-color:#418bb8;width:90%" (click)="laundry(post.category)">
                              <img style="width:50%;margin-left: 24%; margin-top: 7px;" src="imgs/ic_it.png">
                              <p style="color:white;text-align: center;margin: 5px 6px 15px;
                              font-size: 1.0rem;">My IT</p>
                            </ion-card>
                      </ion-col>

                   
                    </ion-row>

              </ion-grid>
                 


            


</ion-content>
