<ion-content padding class="home-background">
    
    <div align="center" (click)="presentActionSheet()">
        <img *ngIf="!imageURI" src="imgs/profile.png" style="width:27%"/>
      <img *ngIf="imageURI" src="{{imageURI}}" style="width: 27%;"/>
    </div>

    <ion-item class="item-ios-2" style="border-radius:30px 30px;" no-line>        
      <ion-label><ion-icon style="color:#9a4081" name="ios-person-outline"></ion-icon></ion-label>
      <ion-input type="text" placeholder="Name" [(ngModel)]="name"></ion-input>
    </ion-item>

    <ion-item class="item-ios-2" style="border-radius:30px 30px;margin-top:5px" no-line>        
      <ion-label><ion-icon style="color:#9a4081" name="ios-mail-outline"></ion-icon></ion-label>
      <ion-input type="text" placeholder="Email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item class="item-ios-2" style="border-radius:30px 30px;margin-top:5px" no-line>        
      <ion-label><ion-icon style="color:#9a4081" name="ios-call-outline"></ion-icon></ion-label>
      <ion-input type="number" placeholder="Contact Number" [(ngModel)]="number"></ion-input>
    </ion-item>


    <ion-item class="item-ios-2" style="border-radius:30px 30px;margin-top:5px" no-line>        
      <ion-label><ion-icon style="color:#9a4081" name="ios-unlock-outline"></ion-icon></ion-label>
      <ion-input type="password" placeholder="Password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-item class="item-ios-2" style="border-radius:30px 30px;margin-top:5px" no-line>        
      <ion-label><ion-icon style="color:#9a4081" name="ios-unlock-outline"></ion-icon></ion-label>
      <ion-input type="password" placeholder="Confirm Password" [(ngModel)]="conpassword"></ion-input>
    </ion-item>

    <ion-item class="item-ios-2" style="border-radius:30px 30px;margin-top:5px" no-line>        
      <ion-label><ion-icon style="color:#9a4081" name="ios-locate-outline"></ion-icon></ion-label>
      <ion-input type="text" placeholder="City" [(ngModel)]="city"></ion-input>
    </ion-item>

                <div align="center"  style="padding-left:15px; padding-right:15px;padding-top:10px">
                    <button ion-button round full class="item-ios-2" (click)="signup()">Continue</button>
                    </div>

                    <div align="center">
                      <p style="color:#9a4081;font-size: 1.25em;" (click)="reg()">Already have account ? Log In</p>
                    </div>

</ion-content>

 
 
