<ion-content padding class="home-background">
 
  <div align="center" (click)="presentActionSheet()">
    <img *ngIf="!imageURI" src="imgs/profile.png" style="width:27%"/>
    <img *ngIf="imageURI" src="{{imageURI}}" style="width: 27%;"/>
    <p style="color:white;margin-top: 3%;">Upload your picture</p>
  </div>



  <div class="col col-md-12 col-sm-12 col-xs-12 col-lg-12" style="padding-top:8px">
      <ion-item class="item-ios" style="border-radius: 12px 12px;">
        <ion-input type="text" placeholder="Your Name" [(ngModel)]="name"></ion-input>
      </ion-item>
    </div>

    <div class="col col-md-12 col-sm-12 col-xs-12 col-lg-12" style="padding-top:8px">
        <ion-item class="item-ios" style="border-radius: 12px 12px;">
          <ion-input type="text" placeholder="Email Address" [(ngModel)]="email"></ion-input>
        </ion-item>
      </div>

      <div class="col col-md-12 col-sm-12 col-xs-12 col-lg-12" style="padding-top:8px">
          <ion-item class="item-ios" style="border-radius: 12px 12px;">
            <ion-input type="number" placeholder="Phone Number" [(ngModel)]="number"></ion-input>
          </ion-item>
        </div>

        <div class="col col-md-12 col-sm-12 col-xs-12 col-lg-12" style="padding-top:8px">
            <ion-item class="item-ios" style="border-radius: 12px 12px;">
              <ion-input type="text" placeholder="Your City" [(ngModel)]="city"></ion-input>
            </ion-item>
          </div>

        <div class="col col-md-12 col-sm-12 col-xs-12 col-lg-12" style="padding-top:8px">
          <ion-item class="item-ios" style="border-radius: 12px 12px;">
            <ion-input type="password" placeholder="Password" [(ngModel)]="password"></ion-input>
          </ion-item>
        </div>

        <div class="col col-md-12 col-sm-12 col-xs-12 col-lg-12" style="padding-top:8px">
          <ion-item class="item-ios" style="border-radius: 12px 12px;">
            <ion-input type="password" placeholder="Confirm Password" [(ngModel)]="conpassword"></ion-input>
          </ion-item>
        </div>

    
 
        <div align="center" style="padding-left:15px; padding-right:15px;padding-top:10px">
            <button ion-button round full style="border-top: 2px solid; border-bottom: 2px solid; border-left: 2px solid; border-right: 2px solid;background-color:white;color:#9a4081" (click)="signup()">Register</button>
            </div>


  
</ion-content>

  <ion-footer style="background-color:white">
    <div align="center">
    <p style="color:#9a4081;font-size: 1.25em;" (click)="reg()">Already have account ? Log In</p>
  </div>
  </ion-footer>
