.myprofile{
    background: linear-gradient(to bottom, #418bb8, #418bb8);
}
.button-md {
 
  
     text-transform: capitalize;
}

page-profile{
    img{
        border-radius:50%;
        height:11rem;
        width:12rem;
    }
}
