<ion-header>
    <ion-navbar>
      <ion-title>{{title}}</ion-title>
      <ion-buttons end>
          <button ion-button (click)="close()"><p>Close</p></button>
          </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  
  <ion-content class="home-background">
  
      
  <div class = "chatwindow"> 
      <ion-list no-lines>
         <ion-item *ngFor = "let item of showMsg; let i = index" text-wrap style="background-color:transparent">
          
          
      <!-- Provider -->
           <div class="bubble me" *ngIf="item.rec" style="background-color:transparent">
              <span>{{provider_name}}  <b style="font-size:0.8em">{{item.time}}</b></span>
             <h3 style="color:black">{{item.rec}}</h3>
           </div>
        
  
          
    <!-- User -->
           <div class="bubble1 you" *ngIf="item.sender" style="background-color:transparent">
              <span>Me  <b style="font-size:0.8em">{{item.time}}</b></span>
             <h3 style="color:white">{{item.sender}}</h3>
           </div>
          
  
         </ion-item>
       </ion-list>
      </div>

      <div style="margin-bottom:20%">
          <p style="color:white">Here</p>
        </div>
      
  </ion-content>
  
  <ion-footer style="background-color:black">
      <ion-item style="width:80%;background-color:black" no-lines>
          <ion-input type="text" placeholder="New Message" style="color:white" [(ngModel)]="message"></ion-input>
      </ion-item>
      <div align="right" style="margin-top: -40px;">
        <img src="imgs/sendbtn3.png" style="width:12%" (click)="sendMessage()"/>
      </div>
    </ion-footer>