.home{
    background: linear-gradient(to bottom, #9a4081, white);
}

.toolbar-background-md {
    border-color: #b2b2b2;
    background: #84527c;
}

.toolbar-background-ios {
    border-color: #b2b2b2;
    background: #84527c;
}



.home-sick {
    background: linear-gradient(to bottom, #7a7378, white);
}

.swiper-pagination-bullet-active {
    background: #8b4782;
    opacity: 1;
}

.card-md {
    margin: 10px;
    border-radius: 2px;
    width: calc(100% - 20px);
    font-size: 1.4rem;
    background: #fff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px 2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.slide-view
{
    border-top: 2px solid;
    border-bottom: 2px solid; 
    border-left: 2px solid;
    border-right: 2px solid;
    border-bottom-color:#8b4782;
    border-top-color:#8b4782
}

.scroll-content {
    height: 100%
  }

  #map {
    border-radius: 12px 12px;
    width: 96%;
    height: 40%;
    margin-left: 7px;
    margin-top: 7px;
  }


