<ion-header>
  <ion-navbar>
      <ion-buttons left>
        <button ion-button icon-only (click)="do()">
        <ion-icon name="ios-menu-outline" style="color:white;padding: 5px;"></ion-icon>
      </button>
        </ion-buttons>
    <!-- <ion-buttons end>
      <button ion-button icon-only (click)="addRoom()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>

<ion-content no-bounce class="home-background">

    <div align="center">
        <ion-slides pager loop="true" style="width:100%;height: 200px;border-radius:12px 12px;padding-right:10px;padding-left:10px;padding-top:10px" autoplay='5000'>
          <ion-slide *ngFor="let slide of slides" style="background-color: white;border-radius:12px 12px;">
            <h2>{{slide.title}}</h2>
          </ion-slide>
        </ion-slides>
      </div>

  <ion-grid>
        <ion-row>
          <ion-col col-4 *ngFor="let post of posts">
          <ion-card style="border-radius:12px 12px;width:90%" class="home" (click)="get_value(post.title, post.id);">
          <img  style="width:50%;margin-left: 24%; margin-top: 7px;" src="https://purpledimes.com/{{post.image}}">
          <p style="color:black;text-align: center;margin: 5px 6px 15px;
          font-size: 1.5rem;">{{post.title}}</p>
        </ion-card>
        </ion-col>
        </ion-row>
  </ion-grid>

     

</ion-content>


<ion-footer style="background-color:white">
      <div align="center">
        <p style="color:#9a4081"><b>Did not find your Category ? Ask us !</b></p>
      </div>
</ion-footer>