.home{
    background: linear-gradient(to bottom, #9a4081, white);
}

.toolbar-background-md {
    border-color: #b2b2b2;
    background: #9a4081;
}

.home-background {
    position:fixed;
    background: -webkit-linear-gradient(#9a4081, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#9a4081, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#9a4081, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#9a4081, white); /* Standard syntax */
}

.home-sick {
    background: linear-gradient(to bottom, #7a7378, white);
}

.swiper-pagination-bullet-active {
    background: #8b4782;
    opacity: 1;
}

.card-md {
    margin: 10px;
    border-radius: 2px;
    width: calc(100% - 20px);
    font-size: 1.4rem;
    background: #fff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px 2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.slide-view
{
    border-top: 2px solid;
    border-bottom: 2px solid; 
    border-left: 2px solid;
    border-right: 2px solid;
    border-bottom-color:#8b4782;
    border-top-color:#8b4782
}