page-providertab {

}

.tabs-md .tab-button[aria-selected=true] .tab-button-icon {
   // background-color:#84527c;
    color: #84527c;
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
}

.tabs-md .tab-button[aria-selected=true] {
    //background-color:#84527c;
    color: #84527c;
}

.tabs-md .tab-button {
    background-color:white;
    min-height: 5.6rem;
    font-weight: normal;
    color: lightgrey;
    padding: 0;
}

.tabs-md .tab-button-icon {
    margin-top: 1px;
    min-width: 2.4rem;
    font-size: 2.4rem;
    background-color:white;
    color: lightgrey;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -webkit-transform-origin: 50% 150%;
    transform-origin: 50% 150%;
}