<ion-header>
  <ion-navbar>
    <ion-title><div align="center"><p style="color:white">Rate our Provider</p></div></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div align="center">
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <ion-icon name="clipboard" *ngIf="value === '1'" style="color:#9a4081"></ion-icon>
          <ion-icon name="clipboard" *ngIf="value === '2'"></ion-icon>
        </ion-col>

        <ion-col col-6>
            <ion-icon name="star" *ngIf="value === '1'" ></ion-icon>
          <ion-icon name="star" *ngIf="value === '2'" style="color:#9a4081"></ion-icon>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>
 
    <ion-card *ngIf="value === '1'" style="border-radius:12px 12px;margin-top: 20px;">
      <div align="center">
    <ion-item>
      <ion-textarea type="text" placeholder="Write your review" [(ngModel)]="review"></ion-textarea>
    </ion-item>
    <button ion-button round full style="border-top: 2px solid; border-bottom: 2px solid; border-left: 2px solid; border-right: 2px solid;background-color:white;color:#9a4081;width: 75%;" (click)="save_data()">Comment</button>
    </div>
    </ion-card>



  <ion-card *ngIf="value === '2'" style="border-radius:12px 12px;margin-top: 50px;">
     <div align="center">
     <p>Please rate {{provider_name}}</p>
     <rating [(ngModel)]="rate" readOnly="false" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false"></rating>

     <p *ngIf="rate === '0'">No ratings</p>
   
     <button ion-button round full style="border-top: 2px solid; border-bottom: 2px solid; border-left: 2px solid; border-right: 2px solid;background-color:white;color:#9a4081;width: 75%;" (click)="finish()">Finish</button>

     </div>
  </ion-card> 


</ion-content>