.color-background {
    position:fixed;
    background: -webkit-linear-gradient(white, #9a4081); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #9a4081); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #9a4081); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #9a4081); /* Standard syntax */
}

page-userselect{
ion-tabs.hidden div.tabbar {
    display: none
}  
}

.button-color-class{
    border-top-color:#84527c !important;
    border-bottom-color:#84527c !important;
    border-right-color:#84527c !important;
    border-left-color:#84527c !important;
    border-top: 2px solid;
    border-bottom: 2px solid; 
    border-left: 2px solid;
    border-right: 2px solid;
}