<ion-header>
  <ion-navbar>
    <ion-title><p style="color:white">&nbsp;&nbsp;&nbsp;&nbsp; Select City</p></ion-title>
    <ion-buttons end>
    <button ion-button (click)="close()"><p style="color:white">Close</p></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding no-bounce class="has-header">
 
    <!-- <ion-list *ngFor="let post of country">
      <ion-item style="margin-left: 1px;background-color:transparent;color:white" (click)="send(post.id, post.city_name)">
          <ion-avatar item-start>
              <img src="imgs/city.png">
            </ion-avatar>
        {{post.city_name}}
      </ion-item>
    </ion-list> -->
    <ion-searchbar style="margin-top: -22px;width: 120%;margin-left: -24px;" (ionInput)="getItems($event)"></ion-searchbar>
    <ion-list>
      <ion-item  style="margin-left: 1px;background-color:transparent;color:white" *ngFor="let item of items" (click)="data(item)">
         <b>{{ item }}</b>
      </ion-item>
    </ion-list>
  

</ion-content>
