<ion-content class="has-header" no-bounce>
 <ion-icon name="ios-menu-outline" style="color:white; padding-left:13px; padding-top:12px" (click)="do()"></ion-icon>

 <div align="center" style="margin-top: -19px;">
     <img src="imgs/mycity.png" style="width: 21%;"/>
 </div>
 

 <div align="center" style="margin-top:6%;">

    <img src="{{profile_picture}}" style="width: 32%;height: 77px;margin-left: 1px;"/>

    <h4 style="color:white;margin-left: -8px;">{{name}}</h4>
          
</div>


<div *ngIf="available === 1 || available === '1'" style="background-color: #418bb8; margin-top:60px;">
        <img src="imgs/green.png" style="width: 6%;padding-left:5px; padding-top:5px"/><p style="color:white;margin-top: -19px;margin-left: 24px;">Available <b style="float: right;padding-right: 49px;">{{current_time}}</b></p>
</div>

<div *ngIf="available === 0 || available === '0'" style="background-color: #418bb8; margin-top:60px;">
        <img src="imgs/red.png" style="width: 6%;padding-left:5px; padding-top:5px"/><p style="color:white;margin-top: -19px;margin-left: 24px;">Un-Available <b style="float: right;padding-right: 49px;">{{current_time}}</b></p>
</div>

<div *ngIf="available === 2 || available === '2'" style="background-color: #418bb8; margin-top:60px;">
        <img src="imgs/yellow.png" style="width: 6%;padding-left:5px; padding-top:5px"/><p style="color:white;margin-top: -19px;margin-left: 24px;">Busy <b style="float: right;padding-right: 49px;">{{current_time}}</b></p>
</div>


     

<div style="margin-top:10px;margin-top:10px">
        <ion-grid>
                <ion-row>
                 
                        <ion-col col-6><img src="imgs/profile.png" (click)="provider()" /></ion-col>
              
                        <ion-col col-6><img src="imgs/services.png" (click)="services()"/></ion-col>
               
                </ion-row>

                <ion-row>
                
                        <ion-col col-6><img src="imgs/active.png" (click)="send()"/></ion-col>
                    
                        <ion-col col-6><img src="imgs/contact.png" (click)="call()"/></ion-col>

                </ion-row>
        </ion-grid>
</div>
             



</ion-content>
