<ion-header>
  <ion-navbar>
    <ion-title><div align="center"><p style="color:white">Jobs Archive</p></div></ion-title>
  </ion-navbar>
      <ion-segment [(ngModel)]="archive">
        <ion-segment-button value="Going">
          On Going
        </ion-segment-button>
        <ion-segment-button value="Completed">
            Completed
        </ion-segment-button>
        <ion-segment-button value="proposals">
            Proposals
          </ion-segment-button>
      </ion-segment>
</ion-header>


<ion-content no-padding>

    <div [ngSwitch]="archive">
        <ion-list *ngSwitchCase="'Going'">
            <ion-list style="margin-bottom:35%">
            <ion-item *ngFor="let post of posts, let i = index">
                <ion-grid>
                  <ion-row>
                    <ion-col col-10>
                       <b>{{i+1}}</b>). {{post.title}}
                    </ion-col>
                    <ion-col col-2>
                      ${{post.budget}}
                      </ion-col>
                  </ion-row>
                </ion-grid>
                <h3>{{post.jd}}</h3>
                <p *ngIf="post.progress === 1 || post.progress === '1'" style="color:green"><b>Status:</b>&nbsp;Open</p>
              </ion-item>
            </ion-list>
            <div style="margin-top:5%">
              <p style="color:white">Here</p>
              </div>
          </ion-list>

          <ion-list *ngSwitchCase="'Completed'">
              <ion-list style="margin-bottom:35%">
              <ion-item *ngFor="let cost of coasts, let i = index">
                  <ion-grid>
                    <ion-row>
                      <ion-col col-10>
                         <b>{{i+1}}</b>). {{cost.title}}
                      </ion-col>
                      <ion-col col-2>
                        ${{cost.budget}}
                        </ion-col>
                    </ion-row>
                  </ion-grid>
                  <h3>{{cost.jd}}</h3>
                  <p style="color:green"><b>Status:</b>&nbsp;Completed</p>
                </ion-item>
              </ion-list>
              <div style="margin-top:5%">
                <p style="color:white">Here</p>
                </div>
            </ion-list>

            <ion-list *ngSwitchCase="'proposals'">
              <ion-list style="margin-bottom:35%">
              <ion-item *ngFor="let tost of toast, let i = index">
                <ion-grid>
                  <ion-row>
                    <ion-col col-10>
                       <b>{{i+1}}</b>). {{tost.title}}
                    </ion-col>
                    <ion-col col-2>
                      ${{tost.budget}}
                      </ion-col>
                  </ion-row>
                </ion-grid>
                <h3>{{tost.jd}}</h3>
                    <p *ngIf="tost.progress === 1 || tost.progress === '1'" style="color:green"><b>Status:</b>&nbsp;Open</p>
                    <p *ngIf="tost.progress === 2 || tost.progress === '2'" style="color:red"><b>Status:</b>&nbsp;On Going</p>
                    <p *ngIf="tost.progress === 3 || tost.progress === '3'" style="color:blue"><b>Status:</b>&nbsp;Completed</p>
                  </ion-item>
              </ion-list>
              <div style="margin-top:5%">
                <p style="color:white">Here</p>
                </div>
              </ion-list>

              </div>

</ion-content>
