<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>My Connections</ion-title>
  </ion-navbar>
</ion-header>


<ion-content no-bounce class="home-background">
    <ion-list>

      <div align="center" *ngIf="chat_value === '1'">
        <img src="imgs/chats_bg.png" style="width:55%"/>
      </div>


        <ion-item *ngFor="let post of posts" (click)="open_chatbox(post.provider_email, post.name, post.title, post.playerid)">
          <ion-avatar item-start>
            <img src="{{post.profile_picture}}">
          </ion-avatar>
          <h2>{{post.name}}</h2>
          <p>{{post.title}}</p>
        </ion-item>
      </ion-list>
</ion-content>
