<ion-header>
  <ion-navbar (click)="close()">
    <ion-title>
      <p style="color:white"></p>
    </ion-title>
    <ion-buttons end>
      <ion-icon name="ios-close-circle-outline" style="color:white"></ion-icon>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

<div *ngIf="value === '1' || value === 1">
  <div align="center">
    <ion-card class="item-ios" style="border-radius: 12px 12px;">
      <img *ngIf="!imageURI" src="imgs/job_image.png" style="border-radius:12px 12px;width: 22%;padding-top:15px" />
      <img *ngIf="imageURI" src="{{imageURI}}" style="border-radius:12px 12px;width: 27%;padding-top:15px" />
      <p (click)="presentActionSheet()" style="padding-top:15px;padding-bottom:15px">Upload Job Image</p>
    </ion-card>
  </div>

  <div align="center" style="padding-left:15px; padding-right:15px;margin-top: 12px;">
      <button ion-button round full style="border-top: 2px solid; border-bottom: 2px solid; border-left: 2px solid; border-right: 2px solid;background-color:white;color:#9a4081" (click)="uploadImage()">Upload</button>
      </div>

</div>      


<div *ngIf="value === '2' || value === 2">

  <div align="center">
    <p>Please rate {{provider_name}}</p>
    <rating [(ngModel)]="rate" readOnly="false" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false"></rating>
    <p *ngIf="rate === '0'">No ratings</p>
  </div>

  <button ion-button round full style="border-top: 2px solid; border-bottom: 2px solid; border-left: 2px solid; border-right: 2px solid;background-color:white;color:#9a4081;width: 75%;" (click)="finish()">Rate & Review</button>

</div>


<div *ngIf="value === '3' || value === 3">

    <div align="center">
        <ion-item>
          <ion-textarea type="text" placeholder="Write your review" [(ngModel)]="review"></ion-textarea>
        </ion-item>
        </div>

  <button ion-button round full style="border-top: 2px solid; border-bottom: 2px solid; border-left: 2px solid; border-right: 2px solid;background-color:white;color:#9a4081;width: 75%;" (click)="finish()">Rate & Review</button>

</div>



</ion-content>