<ion-header>
    <ion-navbar>
      <ion-title></ion-title>
    </ion-navbar>
  </ion-header>
  
  
  <ion-content class="color-background" no-bounce>
    
    
  <div class = "chatwindow"> 
      <ion-list no-lines>
          <ion-item *ngFor = "let item of showMsg; let i = index" text-wrap style="background-color:transparent">
             
            
            <ion-card style="background-color:white;border-radius:12px 12px">
              <!--ion-avatar item-left *ngIf="item.sender">
                 <img src="imgs/userp.png">
               </ion-avatar-->
               <div class="bubble me" *ngIf="item.sender" style="background-color:white">
                 <h3 style="color:black">{{item.sender}}</h3>
               </div>
               </ion-card>
      
               <ion-card style="background-color:#491594;border-radius:12px 12px">
               <!--ion-avatar item-right *ngIf="item.rec">
                 <img src="{{profile_picture}}">
               </ion-avatar-->
               <div class="bubble1 you" *ngIf="item.rec" style="background-color:#491594">
                 <h3 style="color:white">{{item.rec}}</h3>
               </div>
              </ion-card>
      



            </ion-item>
       </ion-list>
      </div>
  
  
  </ion-content>
  
  <ion-footer style="background-color:purple">
    <ion-item style="width:60%;background-color:purple" no-lines>
      <ion-input type="text" placeholder="New Message" style="color:white" [(ngModel)]="message"></ion-input>
    </ion-item>
    <div align="right" style="margin-top: -40px;">
      <img src="imgs/sendbtn3.png" style="width:12%" (click)="sendMessage()"/>
    </div>
  </ion-footer>
