<ion-header>
    <ion-navbar>
      <ion-title><div align="center"><p style="color:white;">Find Jobs</p></div></ion-title>
      <ion-buttons end>
          <button ion-button icon-only (click)="filter()">  <!--filter-->
              <ion-icon name="ios-options-outline" style="color:white;" ></ion-icon>
            </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>


<ion-content>
    <ion-list>
        <ion-item *ngFor="let ext of expenses, let i = index" (click)="view_job(ext.user_email, ext.id, ext.jd)">
          <ion-grid>
            <ion-row>
              <ion-col col-9>
                {{i+1}}).&nbsp;{{ext.title}}
              </ion-col>
              <ion-col col-3>
                £{{ext.budget}}
                </ion-col>
            </ion-row>
          </ion-grid>
          <h3>{{ext.jd}}</h3>
          <p>{{ext.date}} {{ext.month}}</p>
          <p *ngIf="ext.progress === 1 || ext.progress === '1'" style="color:green"><b>Status:</b>&nbsp;Open</p>
          <p *ngIf="ext.progress === 2 || ext.progress === '2'" style="color:red"><b>Status:</b>&nbsp;In-progress</p>
        </ion-item>
      </ion-list>
</ion-content>