<ion-header>
  <ion-navbar>
      <ion-grid>
          <ion-row>
            <ion-col col-4>
                <ion-buttons start>
                    <button ion-button icon-only (click)="filter()">
                    <ion-icon name="ios-options-outline" style="color:white;" ></ion-icon>
                  </button>
                </ion-buttons>
            </ion-col>
            <ion-col col-4><p style="color:white;">Find Jobs</p></ion-col>
              <ion-col col-4>
                </ion-col>
          </ion-row>
        </ion-grid>
  </ion-navbar>
</ion-header>


<ion-content>
    <ion-list>
        <ion-item *ngFor="let post of posts" (click)="view_job(post.user_email, post.id, post.jd)">
          <ion-grid>
            <ion-row>
              <ion-col col-10>
                  {{post.jd}}
              </ion-col>
              <ion-col col-2>
                £{{post.budget}}
                </ion-col>
            </ion-row>
          </ion-grid>
          <h3>Job Type: &nbsp;{{post.title}}</h3>
          <p>{{post.date}} {{post.month}}</p>
          <p *ngIf="post.progress === 1 || post.progress === '1'" style="color:green"><b>Status:</b>&nbsp;Open</p>
          <p *ngIf="post.progress === 2 || post.progress === '2'" style="color:red"><b>Status:</b>&nbsp;In-progress</p>
        </ion-item>
      </ion-list>
</ion-content>