page-reviewprovider {
    ul.rating li {
        padding: 5px 0px !important;
        background: none;
        color: white;
    }
    ion-icon {
        display: inline-block;
        font-size: 2.2em;
    }
    ion-avatar,
ion-avatar > img{
    border-radius:50%;
    height:12rem;
    width:12rem;
}
}
